<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="productos.component.css">
</head>
<body>

  <header >
        <h1>Productos</h1>       
</header>
<main>
  <div class="row">
    <div class="col s2 offset-s10" style="padding: 30px;">
      <a *ngIf="is_admin == '1'" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" (click)="createProduct()">add</i></a>
    </div>
  </div>
  <div class="row">
    <div class="col s2 offset-s10" style="padding: 30px;">
      <a *ngIf="is_admin == '0'" class="btn waves-effect waves-light green" href="/home/snake">PRUEBA GRATIS EL SNAKE</a>
    </div>
  </div>

        <div class="row">
          <div class="col s12 m4" *ngFor="let producto of listaProducto" >
                <div class="card">
                  <div class="card-image" (click)="visualizarProducto(producto)">
                        <img src="assets/img/juego.avif" alt="anuncio">

                    </div>
                    <div class=" card-content ">
                        <span class="card-title">{{ producto.nombre }}</span>
                        <p>Descripción: {{ producto.descripcion.slice(0, 50) }}{{ producto.descripcion.length > 100 ? '...' : '' }}</p>
                        <ul class="iconos-caracteristicas">
                            <li>
                                <img class="icono" loading="lazy" src="assets/img/aplicacion.png" alt="icono">
                                <p>{{ producto.categoria }}</p>
                            </li>
                            <li>
                                <img class="icono" loading="lazy" src="assets/img/edad.png" alt="icono age">
                                <p>{{ producto.calif_edad }}</p>
                            </li>
                        </ul>
                        <h6 *ngIf="is_admin == '0'" class="texto">Comprar juego <a class="modal-trigger material-icons" ></a></h6>
                        <a *ngIf="is_admin == '1' " class="modal-trigger" (click) = "updateProduct(producto.id)"  class="waves-effect black waves-light btn">Editar <i class="material-icons left">create</i></a>
                        <a *ngIf="is_admin == '1' " (click)="deleteProduct(producto.id) "class="waves-effect red waves-light btn">  <i class="material-icons left">delete</i>  </a>
                    </div>

                    
                </div>
            </div>
            
        </div>


 <!-- Modal Create Product Structure-->
 <div id="modalCreateProduct" class="modal">
  <div class="modal-content">
    <div class="row" style="margin-bottom: 0px !important;">
      <div class="col s12">
        <h5 class="center">Crear Producto</h5>
      </div>
    </div>
    <div style="border: .5px solid #E31414; padding: 10px;">
      <div class="row">
        <div class="input-field col s12">
          <label class="active">Nombre </label>
          <input  [(ngModel)]="newProduct.nombre"  type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <label class="active">Descripción</label>
          <input  [(ngModel)]="newProduct.descripcion"  type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <label class="active">Calif edad</label>
          <input  [(ngModel)]="newProduct.calif_edad"  type="text" class="validate">
        </div>
        <div class="input-field col s12">
          <label class="active">Categoria </label>
          <input   [(ngModel)]="newProduct.categoria"  type="text" class="validate">
        </div>
        
      </div>
      <div class="row">
        <div class="col s6 center">
          <button type="submit" class="waves-effect btn-large red lighten-3 modal-close" (click)="saveNewProduct()">ENVIAR</button>
        </div>
        <div class="col s6 center">
          <a class="modal-action modal-close waves-effect btn-large red lighten-3black-text">CANCELAR</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Update Product Structure -->
<div id="modalUpdateProduct" class="modal">
  <div class="modal-content">
    <div class="row" style="margin-bottom: 0px !important;">
      <div class="col s12">
        <h5 class="center">Actualizar Producto</h5>
      </div>
    </div>
    <div style="border: .5px solid #78909c; padding: 10px;">
      <div class="row">
        <div class="input-field col s12">
          <label class="active">Nombre </label>
          <input   [(ngModel)]="producto.nombre"  type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <label class="active">Descripción</label>
          <input  [(ngModel)]="producto.descripcion"  type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <label class="active">Calif_edad </label>
          <input   [(ngModel)]="producto.calif_edad"  type="text" class="validate">
        </div>
        <div class="input-field col s12">
          <label class="active">Categoria </label>
          <input   [(ngModel)]="producto.categoria"  type="text" class="validate">
        </div>
        
      </div>
      <div class="row">
        <div class="col s6 center">
          <button type="submit" class="waves-effect btn-large red lighten-3 modal-close" (click)="saveUpdateProduct()">ENVIAR</button>
        </div>
        <div class="col s6 center">
          <a class="modal-action modal-close waves-effect btn-large red lighten-3black-text">CANCELAR</a>
        </div>
      </div>
    </div>
  </div>
</div>
        

<div #vista class="modal">
  <div class="modal-content" style="display: flex; align-items: center; justify-content: space-between;">
    <img src="assets/img/juego.avif" alt="anuncio" class="col s6" style="height: 500px; width: 500px;">
    <div class="col s8 offset-s1" style="padding: 20px; background-color: #f4f4f4; border-radius: 10px;">
      <h4 class="center" style="color: #333; font-size: 24px;"><b>{{ productoSeleccionado.nombre }}</b></h4>
      <p style="color: #666; margin-top: 20px;"><b>Descripción: </b>{{ productoSeleccionado.descripcion }}</p>
      <div style="display: flex; align-items: center; gap: 10px;">
        <img class="icono" loading="lazy" src="assets/img/edad.png" alt="icono age" style="height: 100px; width: auto;">
        <p><b>{{productoSeleccionado.calif_edad}}</b></p>
      </div>
      <div style="display: flex; align-items: center; gap: 10px;">
        <img class="icono" loading="lazy" src="assets/img/aplicacion.png" alt="icono" style="height: 100px; width: auto;">
        <p><b>{{productoSeleccionado.categoria}}</b></p>
      </div>
      <img src="assets/img/30277.png" style="height: 100px; width: auto;" class="left-align">
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
  </div>
</div>

</main>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- Inicializar algunos elementos de Materialize -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {

      M.AutoInit();
       document.getElementById('listarButton').click();
    });

  </script>
</body>
</html>