h1{
    text-align: center;
}
img,
picture {
    width: 100%;
    display: block;
}


.material-icons{
    width: 100%;
    text-align: center;
}
.texto{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 1rem;
    border-top: none;
}

.icono {
    text-align: center;
    height: 5rem;
}

.icono img {
    height: 5rem;
}

.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;

}

.iconos-caracteristicas li {
    flex: 1;
    display: flex;
}

.iconos-caracteristicas li img {
    flex: 0 0 3rem;
    margin-right: 1rem;
}

.iconos-caracteristicas li p {
    font-weight: 900;
}


.card-content{
    justify-content: center;
}
.texto_cont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}