<!DOCTYPE html>
  <html>
    <head>
    <meta charset="UTF-8">
    <title>Snake Game</title>
</head>
<body>

  <div class="background-image"></div>

  <div class="controls">
    <select id="nivelSelect">
        <option value="0">Nivel 1</option>
        <option value="1">Nivel 2</option>
        <option value="2">Nivel 3</option>
        <option value="3">Nivel 4</option>
        <option value="4">Nivel 5</option>
        <option value="5">Nivel 6</option>
        <option value="6">Nivel 7</option>
        <option value="7">Nivel 8</option>
        <option value="8">Nivel 9</option>
        <option value="9">Nivel 10</option>
    </select>
    <button id="playButton">Play</button>
    <select id="speedSelect">
      <option value="0">Velocidad x1</option>
      <option value="1">Velocidad x2</option>
    </select>
  </div>

  <div class="canvas-container">
    <canvas width="400" height="50" id="info">
      Tu navegador no soporta canvas
    </canvas>
    <canvas width="400" height="400" id="game">
      Tu navegador no soporta canvas
    </canvas>
  </div>

  <script src="script.js"></script>
</body>
</html>

